{% extends 'base.html.twig' %}
{% block body %}


	{% set text = null  %}
    {% set image = null %}
    {% for media in colBanner %}
        {% if media.referenceKey == 'richmedia-event-banner' %}
            {% set text = media.text %}
            {% set image = media.filename %}
        {% endif %}
    {% endfor %}
  <div class="background-image-header" style="background-image: url('{{image}}')">
    {% include '_render_block/header_squares_animation.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-center">
            {{text|raw}}
        </div>
    </div>
</div>

<div class="background-index-image" style="padding-top: 15vh; padding-bottom: 100px;">
	<div class="container">


		<h1 class="text-center text-uppercase pb-5 mb-5 d-flex justify-content-center" style="font-size: 50px;">{{event}}</h1>
		{% for Content in colContent %}
			{% if Content|length == 10 %}
			<div class="row text-center pb-5 mb-5 d-flex justify-content-center">
				<div>
					<h1>{{Content.title}}</h1>
				<hr>
				<div style="font-size: 22px;">
					{{Content.text|raw}}
				</div>
				</div>
			</div>
			{% else %}
				<div class="row text-center pb-5 mb-5 d-flex justify-content-center">
					<div>
						<h1>{{Content[0].title}}</h1>
						<hr>
						<div style="font-size: 22px;">
							{{Content[0].text|raw}}
						</div>
						<button class="btn btn-danger my-2 click-more-information my-2">{% trans %}Know more{% endtrans %}</button>
						<div class="more-information" style="display: none; font-size: 22px;">
							{{Content[1].text|raw}}
						</div>

					</div>
				</div>
				


			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		$('.click-more-information').on('click', function(){
			
			
			if($(this).parent().find('.more-information').css('display') == 'none'){
				$(this).parent().find('.more-information').slideDown();
			}
			else{
				$(this).parent().find('.more-information').slideUp();
			}
		});
	});
	</script>
{% endblock %}