{% extends 'base.html.twig' %}

{% block body %}


    {% set text = null  %}
    {% set image = null %}
    {% for media in colBanner %}
        {% if media.referenceKey == 'richmedia-plumbers-banner' %}
            {% set text = media.text %}
            {% set image = media.filename %}
        {% endif %}
    {% endfor %}
  <div class="background-image-header" style="background-image: url('{{image}}')">
      {% include '_render_block/header_squares_animation.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-center">
            {{text|raw}}
        </div>
    </div>
    </div>

<div class="background-index-image" style="padding-top: 15vh; padding-bottom: 100px;">

        <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <i class="mdi-48px {{item.url}} plumbers-store-icon-style"></i>
        </div>
        <div class="row d-flex justify-content-center">
            <span class="restaurants-under-icon-text">{{item.title}}</span>
        </div>
    </div>



      <div class="container py-5">
        <!--1ª ROW-->
        {% set colRow = colContent['first-row'] %}
        <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center">
                <div>
                    {{colRow.text[0]['text']|raw}}
                    <!--p class="restaurant-title">O que é o ZS go</p>
                    <p class="restaurant-text">O ZS go é um Software de Facturação Online Certificado pela AT com o número 2858 que lhe permite faturar produtos ou serviços em qualquer dispositivo. Todos os passos de criação de conta, entidades e produtos estão simplificados para que possa faturar com total liberdade de forma muito rápida e descomplicada sem perder tempo e em qualquer lugar</p-->
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img  class="restaurant-image_01" src="{{colRow.image[0]['filename']}}">
            </div>
            <div class="col-12">
                <svg class='plumbers-svg-line-window'>
                    <line x1="500" y1="0" x2="0" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
                <svg class='clothing-svg-line-mobile'>
                    <line x1="0" y1="0" x2="50" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
            </div>
        </div>
        <!--1ª ROW-->
        <!--2ª ROW-->
        {% set colRow = colContent['second-row'] %}
        <div class="row py-5">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
                              <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
                              
                                <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
                              </g>
                            </svg>
                            <i class="d-flex mdi-48px {{colRow.icon[0]['url']}} plumbers-icon_1-content icon-mobile"></i>
                    </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center py-3 py-lg-0">
                <div>
                    {{colRow.text[0]['text']|raw}}
                    <!--p class="restaurant-text">Com um sistema de faturação tão simples, pode manter o foco no que é importante.<br>O seu negócio.</p>
                    <p class="restaurant-text">O ZS go é um software online desenvolvido em sistema SaaS (Software as a Service) e criado com o objetivo de tornar a sua faturação num processo simples, rápido e intuitivo.</p-->
                </div>
            </div>

        </div>
    <!--/2ª ROW-->

    <!--3ª ROW-->
        {% set colRow = colContent['third-row'] %}
        <div class="row py-5">
            <div class="col-12">
                <svg class='plumbers-svg-line-window_5'>
                    <line x1="0" y1="0" x2="500" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
            </div>
              <div class="col-12 col-md-6 d-flex align-items-center py-3 py-lg-0">
                <div>
                    {{colRow.text[0]['text']|raw}}
                    <!--p class="restaurant-title">Agendamento de faturas</p>
                    <p class="restaurant-text">Com o ZS go pode emitir um documento contabilístico em segundos. Configurar uma faturação recorrente ou agendar lembretes para evitar atraso nos pagamentos por parte dos clientes e não perder tempo em cobranças.</p-->
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
                              <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
                              
                                <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
                              </g>
                            </svg>
                            <i class="d-flex mdi-48px {{colRow.icon[0]['url']}} plumbers-icon_1-content icon-mobile"></i>
                    </div>
            </div>
          

        </div>
    <!--/3ª ROW-->

    <!--4º ROW-->
        {% set colRow = colContent['fourth-row'] %}
        <div class="row d-flex justify-content-end pt-5">
            <div class="col-12 col-md-6">
                <div class="py-5 py-md-2">
                    {{colRow.text[0]['text']|raw}}
                    <!--p class="restaurant-title">Criação de Perfis</p>
                    <p class="restaurant-text">Poderá também criar perfis de acordo com o tipo de colaborador que interage com o sistema, seja ele o seu contabilistas, administrativos ou quem organiza a distribuição dos produtos da empresa.</p-->
                </div>
            </div>
            <div class="col-12">
                <svg class='plumbers-svg-line-window_2'>
                    <line x1="500" y1="0" x2="0" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
            </div>
        </div>

    <!--/4ª ROW-->
    <!--5ª ROW-->
    {% set colRow = colContent['fifth-row'] %}
        <div class="row py-5">
            <div class="col-12">
                <svg class='plumbers-svg-line-window_3'>
                    <line x1="0" y1="0" x2="500" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-start">
                <div>
                <div class=" d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
                              <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
                              
                                <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
                              </g>
                            </svg>
                            <i class="d-flex mdi-48px {{colRow.icon[0]['url']}} plumbers-icon_1-content icon-mobile"></i>
                    </div>
                   <div class="my-5 py-5">
                    {{colRow.text[0]['text']|raw}}
                    <!--p class="restaurant-title">Dashboard e Relatórios</p>
                    <p class="restaurant-text">Disponibiliza ainda um dashboard intuitivo que lhe oferece uma visão geral do seu negócio e toda uma série de relatórios que permitem com um clique ter em seu poder informação relevante no que diz respeito à faturação, cobranças, contas correntes, impostos e muito mais…</p-->
                   </div>
                   <div class="d-flex justify-content-center align-items-center">
                 <svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
                              <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
                              
                                <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
                              </g>
                            </svg>
                            <i class="d-flex mdi-48px {{colRow.icon[0]['url']}} plumbers-icon_1-content icon-mobile"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                <div>
                    <img width="100%" class="clothing-mobile-padding-bot" src="{{colRow.image[0]['filename']}}">
                    <div class="mt-5 py-5">
                        {{colRow.text[1]['text']|raw}}
                         <!--p class="restaurant-title">Tipos de documentos</p>
                        }
                        }
                    <p class="restaurant-text">O ZS go emite todos os documentos necessários à gestão do seu negócio:<br>Fatura \ Recibo \ Fatura/Recibo \ Nota de Crédito \ Guia de Transporte \ Guia de Remessa \ Guia de Devolução \ Fatura Proforma</p-->
                    </div>
                </div>
            </div>
             <div class="col-12">
                <svg class='plumbers-svg-line-window_4'>
                    <line x1="0" y1="180" x2="500" y2="0" style="stroke:rgb(115,115,115);stroke-width:1" />
                </svg>
            </div>
        </div>
    <!--/5ª ROW-->




    </div>









    {#<div class="container py-5">
            {% include '_render_block/doubts-send-email.html.twig' %}
    </div>#}
</div>

     
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style type="text/css">
        @media only screen and( max-width:770px){
            img{
               max-width: 300px !important;
            }
        }
    </style>
{% endblock %}


{% block  javascript %}
{% endblock %}