{% extends 'base.html.twig' %}

{% block body %}


    {% set text = null  %}
    {% set image = null %}
    {% for media in colBanner %}
        {% if media.referenceKey == 'richmedia-about-us-banner' %}
            {% set text = media.text %}
            {% set image = media.filename %}
        {% endif %}
    {% endfor %}
  <div class="background-image-header" style="background-image: url('{{image}}')">
         <div class="container">
        <div class="d-flex justify-content-center">
            {{text|raw}}
        </div>
    </div>
    </div>
    <img class='img-background-about-us' src="/assets/images/background-about-us.svg">
<div style="padding-top: 15vh; padding-bottom: 100px;">
    
    <div class="container-fluid py-5">
        <div class="row mt-5 py-5">
            <div class="col-12 col-md-6 mr-md-5 d-flex justify-content-center">
                <img src="{{colContent.logo['filename']}}">
            </div>
        </div>

        {% set articles = colContent.articles %}
        {% for i in 1..articles|length %}
        
        <div class="row" data-id="{{i}}">
            <div class="col-12 col-md-6 mx-md-5">
                <div class="pt-5 pb-3">
                    <p class="about-us-title">{{articles[i][1].title}}</p>
                </div>
                <div class="pb-5">
                    {{articles[i][1].text|raw}}
                    <!--p class="about-us-first-text">A FPF Sistemas Gestão iniciou atividade em 1999, é especializada em Tecnologias de Informação, e presta serviços nas áreas de Consultoria, Desenvolvimento e Implementação de Software de Gestão. Empresa 100% nacional, tem como principiais atividades a instalação e implementação do ERP (Drivefx, ZONESOFT, Eticadata), desenvolvimento de software próprio e integrações com plataformas web, móveis e TI.</p-->
                    
                </div>
            </div>
            <div class="col-12 col-md d-flex justify-content-end justify-content-md-start">
                <div class="about-us-squares-position">
                        <span class="about-us-square-plus"><i class="mdi mdi-plus icon-about-us"></i></span>
                        <span class="about-us-square-plus_2"></span>
                </div>
                <div>
                    <span class="about-us-plus-info d-none"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-md-5 about-us-bg-content" style="display: none;">
                <span data-target={{i}} class="about-us-text-content">
                    {{articles[i][2].text|raw}}
                   
                </span>
            </div>
        </div>
        
        {% endfor %}




        {#
        <!--Info - 1 -->
        <div class="row">
            <div class="col-12 col-md-6 mx-md-5">
                <div class="pt-5 pb-3">
                    <p class="about-us-title">Quem Somos</p>
                </div>
                <div class="pb-5">
                    {{colContent['text-1']|raw}}
                    <!--p class="about-us-first-text">A FPF Sistemas Gestão iniciou atividade em 1999, é especializada em Tecnologias de Informação, e presta serviços nas áreas de Consultoria, Desenvolvimento e Implementação de Software de Gestão. Empresa 100% nacional, tem como principiais atividades a instalação e implementação do ERP (Drivefx, ZONESOFT, Eticadata), desenvolvimento de software próprio e integrações com plataformas web, móveis e TI.</p-->
                    
                </div>
            </div>
            <div class="col-12 col-md d-flex justify-content-end justify-content-md-start">
                <div class="about-us-squares-position">
                        <span class="about-us-square-plus"><i class="mdi mdi-plus icon-about-us"></i></span>
                        <span class="about-us-square-plus_2"></span>
                </div>
                <div>
                    <span class="about-us-plus-info d-none"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-md-5 about-us-bg-content" style="display: none;">
                <span class="about-us-text-content">
                    {{colContent['text-2']|raw}}
                   
                </span>
            </div>
        </div>
        <!--/Info - 1 -->

        <!--Info - 2 -->
        <div class="row">
            <div class="col-12 col-md-6 mx-md-5">
                <div class="pt-5 pb-3">
                    <p class="about-us-title">Missão</p>
                </div>
                <div class="pb-5">
                    {{colContent['text-1']|raw}}
                    <!--p class="about-us-first-text">A FPF Sistemas Gestão iniciou atividade em 1999, é especializada em Tecnologias de Informação, e presta serviços nas áreas de Consultoria, Desenvolvimento e Implementação de Software de Gestão. Empresa 100% nacional, tem como principiais atividades a instalação e implementação do ERP (Drivefx, ZONESOFT, Eticadata), desenvolvimento de software próprio e integrações com plataformas web, móveis e TI.</p-->
                    
                </div>
            </div>
            <div class="col-12 col-md d-flex justify-content-end justify-content-md-start">
                <div class="about-us-squares-position">
                        <span class="about-us-square-plus"><i class="mdi mdi-plus icon-about-us"></i></span>
                        <span class="about-us-square-plus_2"></span>
                </div>
                <div>
                    <span class="about-us-plus-info d-none"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-md-5 about-us-bg-content" style="display: none;">
                <span class="about-us-text-content">
                    {{colContent['text-2']|raw}}
                   
                </span>
            </div>
        </div>
        <!--/Info - 2 -->
        #}
         <div class="container pt-5">
            {% include '_render_block/doubts-send-email.html.twig' %}
         </div>
    </div>


</div>

{% endblock %}

{% block  javascripts %}
        {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
          $('.about-us-square-plus').on('click', function(){
                    let id = $(this).data('id');
                    let row = $(this).eq(5).find('[data-target='+id+']');
                    console.log(row);
                    if($(this).children().hasClass('mdi-plus')){
                        $('.about-us-bg-content').slideDown();
                        $('.about-us-plus-info').removeClass('d-none');
                        $(this).children().removeClass('mdi-plus');
                        $(this).children().addClass('mdi-minus');
                    }
                    else{
                        $('.about-us-bg-content').slideUp();
                        $('.about-us-plus-info').addClass('d-none');
                        $(this).children().removeClass('mdi-minus');
                        $(this).children().addClass('mdi-plus');
                    }
                });
        });
       

    </script>


{% endblock %}