{#
<li><a href="#" title="Experiências">Experiências</a></li>
<li><a href="#" title="Alojamentos">Alojamentos</a></li>
<li><a href="#" title="Loja">Loja</a></li>
<li><a href="#" title="Parceiros">Parceiros</a></li>
#}
{#<li><a href="{{ baseUri }}/" title="{% trans %}Home{% endtrans %}">{% trans %}Home{% endtrans %}</a></li>#}
<li class="py-3"><a href="{{ baseUri }}/quem-somos" title="{% trans %}Who we are{% endtrans %}" class="menu-link-font">{% trans %}Who we are{% endtrans %}</a></li>
<li class="py-3" ><a href="{{ baseUri }}/Serviços" title="{% trans %}Services{% endtrans %}"  class="menu-link-font">{% trans %}Services{% endtrans %}</a></li>
<li class="py-3"><a href="{{ baseUri }}/suporte-tecnico" title="{% trans %}Customer support{% endtrans %}"  class="menu-link-font">{% trans %}Customer support{% endtrans %}</a></li>

{#% if customerId is defined and customerId > 0 %}
    <li class="px-2">
        <a href="{{ baseUri }}/customer" class="btn btn-secondary text-white">{% trans %}Customer Area{% endtrans %}</a>
    </li>
{% else %}
    <li class="px-2">
        <div class="btn-group btn-grey-group btn-group-sm btn-sm" role="group">
            <a href="{{ baseUri }}/login" class="btn btn-primary text-white">{% trans %}Login{% endtrans %}</a>
            <a href="{{ baseUri }}/signup" class="btn btn-primary">{% trans %}Register{% endtrans %}</a>
        </div>
    </li>
{% endif %#}