
 {% set color = null %}
{% set image = null %}
    {% for i in colFooter  ?? []%}
        {% if i.url == 'footer'%}
            {% set color = i.description %}
            {% set image = i.filename %}
        {% endif %}
    {% endfor %}
{% if colFooter is defined %}
<footer class="background-footer" style="background-color:{{color}}; background-image: url({{image}});">

        <div class="row d-flex justify-content-center text-white font-weight-bold">{% trans %}Restauration{% endtrans %}</div>
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex justify-content-center text-white text-center font-weight-bold" style="width: 690px; font-size: 17px;">
            {% for i,item in allItens['Restoration-body'] %}
                <a class="px-1" href='{{baseUri}}/{% trans %}restoration{% endtrans %}/{{item.title}}'>{{item.title}} </a>{% if i != allItens['Restoration-body']|length-1 %} | {% endif %}
            {% endfor %}
        </div>
    </div>


        <div class="row d-flex justify-content-center text-white font-weight-bold">{% trans %}Retail{% endtrans %}</div>
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex justify-content-center text-white text-center font-weight-bold" style="width: 690px; font-size: 17px;">
            {% for i,item in allItens['Retail-body'] %}
                 <a class="px-1" href='{{baseUri}}/{% trans %}retail{% endtrans %}/{{item.title}}'>{{item.title}}</a>{% if i != allItens['Retail-body']|length-1 %} |{% endif %}
            {% endfor %}
        </div>
    </div>

        <div class="row d-flex justify-content-center text-white font-weight-bold">{% trans %}Services{% endtrans %}</div>
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex justify-content-center text-white text-center font-weight-bold" style="width: 690px; font-size: 17px;">
            {% for i,item in allItens['Services-body'] %}
                 <a class="px-1" href='{{baseUri}}/{% trans %}services{% endtrans %}/{{item.title}}'>{{item.title}}</a>{% if i != allItens['Services-body']|length-1 %} |{% endif %}
            {% endfor %}
        </div>
    </div>

     
        <div class="row d-flex justify-content-center text-white font-weight-bold">{% trans %}Mobile{% endtrans %}</div>
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex justify-content-center text-white text-center font-weight-bold" style="width: 690px; font-size: 17px;">
            {% for i,item in allItens['Mobile-body'] %}
                 <a class="px-1" href='{{baseUri}}/{% trans %}mobile{% endtrans %}/{{item.title}}'>{{item.title}}</a>{% if i != allItens['Mobile-body']|length-1 %} |{% endif %}
            {% endfor %}
        </div>
    </div>


     
        <div class="row d-flex justify-content-center text-white font-weight-bold">{% trans %}Health{% endtrans %}</div>
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex justify-content-center text-white text-center font-weight-bold" style="width: 690px; font-size: 17px;">
            {% for i,item in allItens['Health-body'] %}
                 {{item.title}}{% if i != allItens['Health-body']|length-1 %} |{% endif %}
            {% endfor %}
        </div>
    </div>


    {% include '_includes/cookie_consent.html.twig' %}
</footer>
{% endif %}

{% set color = null %}
{% set image = null %}
{% for i in colFooterDown ?? [] %}
{% if i.url == 'footer-down' %}
    {% set color = i.description %}
    {% set image = i.filename %}
{% endif %}
{% endfor %}

{% if colFooterDown is defined %}
<div class="background-footer-down" style="background-image: url({{image}});  background-color: white;">
    <div class="row d-flex justify-content-center">
        <span class="credits-footer" style="color:{{color}};">{% trans %}Powered by Intouchbiz{% endtrans %}</span>
    </div>
</div>
{% endif %}